*{
  margin: 0;
  font-family: arial;
}
body{
  background-color: wheat;
}
.atas{
  display: flex;
  text-align: center;
  color: white;
  align-items: center;
  justify-content: center;
  padding: 20px;
}
.gambar{
  display: flex;
  align-content: center;
  justify-content: center;
}
.gambar img{
  padding: 20px;
  width: 160px;
  height: 120px;
  margin-bottom: 20px;
  border-image: 2px;
}
input{
  width: 100%;
}
.form{
  text-align: center;
  align-items: center;
}