/* Reset sederhana */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background: #f4f4f4;
  color: #333;
}

/* Header */
header {
  background: #111;
  padding: 15px;
  text-align: center;
}

header h1 {
  color: white;
  margin-bottom: 10px;
}

header nav a {
  color: #ddd;
  margin: 0 10px;
  text-decoration: none;
  font-weight: bold;
}

header nav a:hover {
  color: white;
}

/* Main content grid */
.anime-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  gap: 12px;
  padding: 20px;
  border: 2px solid red;
}

.anime-card {
  background: white;
  border-radius: 5px;
  overflow: hidden;
  text-align: center;
  box-shadow: 0px 0px 5px rgba(0,0,0,0.1);
  border: 2px solid yellow;
}

.anime-card img {
  width: 20px;
  height: auto;
}

.anime-card p {
  padding: 10px;
  font-size: 14px;
}

/* Footer */
footer {
  text-align: center;
  margin: 20px 0;
  font-size: 12px;
  color: #555;
}


