*{
  font-family: arial, sans-serif;
  margin: 0;
}

.kontainer{
  background-color: lightblue;
  height: 70px;
  width: 100%;
  text-align: center;
  display: flex;
}
.kontainer ul{
  display: flex;
  text-align: center;
  align-items: center;
  list-style: none;
  gap: 10px;
  font-size: 11px;
  padding: 12px;
  justify-content: center;
}
.kontainer li a{
  text-decoration: none;
  border: 2px solid black;
  padding: 4px;
  color: white;
  border-radius: 5px;
  background-color: black;
  margin: 0 3px;
}
.header{
  width: 100%;
  height: 100px;
  background-color: lightgray;
  text-align: center;
  justify-content: center;
  display: flex;
  align-items: center;
  margin: 10px 0;
  color: tomato;
}
.kontainermain{
  width: 100%;
  height: 200px;
  background-color: lightgray;
  margin: 10px 0;
  display: flex;
  overflow: auto;
  text-align: center;
  align-items: center;
}
.grup{
  border: 5px,solid black;
  display: flex;
  width: 150px;
  height: 150px;
  margin: 10px;
  border-radius: 10px;
}
.grup img{
  width: 150px;
  height: 150px;
}
.kontainerVidio{
  border: 2px solid black;
  width: 100%;
  height: 200px;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  background-color: blanchedalmond;
}
.tempatVidio{
  border: 2px solid black;
  width: 90%;
  height: 180px;
}
.kontainerIframe{
  width: 100%;
  height: 500px;
  background-color: lightcyan;
  text-align: center;
  justify-content: center;
  align-items: center;
  display: flex;
}
iframe{
  width: 95%;
  height: 95%;
}
